@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    /* Custom properties */
    --navigation-height: 3.5rem;
    --color-one: #ffbd7a;
    --color-two: #fe8bbb;
    --color-three: #9e7aff;

    /* 
    --color-one: #37ecba;
    --color-two: #72afd3;
    --color-three: #ff2e63;
     */
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .fancy-card {
    background: linear-gradient(rgba(30, 30, 30, 1) 0%, rgba(45, 45, 45, 1) 100%);

    @apply rounded-[32px] border-[1px] border-gray-700/60 bg-card shadow-[rgba(0,0,0,0.5)_0px_-3px_0px_0px_inset,rgb(45,45,45)_0px_0px_0px_2px_inset,rgba(0,0,0,0.6)_0px_4px_2px_0px_inset,rgba(0,0,0,0.4)_0px_0px_24px_4px_inset,rgba(0,0,0,0.8)_0px_1px_3px_0px];
  }
  .fancy-card-white {
    background: linear-gradient(rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 100%);

    @apply rounded-[32px] border-[1px] border-gray-100/90 bg-card shadow-[rgba(0,0,0,0.05)_0px_-3px_0px_0px_inset,rgb(255,255,255)_0px_0px_0px_2px_inset,rgba(0,0,0,0.06)_0px_4px_2px_0px_inset,rgba(0,0,0,0.04)_0px_0px_24px_4px_inset,rgba(0,0,0,0.12)_0px_1px_3px_0px];
  }

  .fancy-button {
    background-color: rgb(0, 0, 0);
    border-radius: 32px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px -3px 1px 0px inset,
      rgba(0, 0, 0, 0.043) 0px 0.241451px 0.241451px 0px, rgba(0, 0, 0, 0.35) 0px 2px 2px 0px;
  }
}
